.center-nav{
    margin-left: 9rem;
    
}

.button-enq{
    margin-left: 11rem;
    
}

// header text

.header-text{
    font-size: 5vmax;
    margin-top: 4vmax;
    font-family: 'Montserrat-black', sans-serif;
    font-weight: bold;
}

// lottie file

@media screen and (min-width:768px){
  #Content-mob{display: none;}
  #Content-com{ display: block;}
}




//  button colour


 
  
  .btn-1:hover {
    
    background-position: right center; /* change the direction of the change here */

  }
  
  .btn-1 {
    background-image: linear-gradient(to right, #00A8F6 0%, #0A5AD2 51%, #00A8F6 100%);
    
  }


  // Project Countdown

  .counter-1 {
    background-color: #407AFF;
    padding: 15px 0;
    border-radius: 5px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.counter-2 {
  background-color:#F76E03;
  padding: 15px 0;
  border-radius: 5px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.counter-3 {
  background-color:#0154F6;
  padding: 15px 0;
  border-radius: 5px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.counter-4 {
  background-color:#EE5B51;
  padding: 15px 0;
  border-radius: 5px;
  padding-top: 40px;
  padding-bottom: 40px;
}



.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    font-family: 'Montserrat-black', sans-serif; 
    font-weight: bold;
    color: #ffffff;
}

.count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    font-family:'Montserrat-bold', sans-serif ;
    color: #ffffff;
    width: bold;
}

.top-icon{
  color: #ffffff;
}


.fa-3x {
    margin: 0 auto;
    float: none;
   
   
}



// Our Services


.count-title-1{
  font-size: 20px;
  margin-top: 15px;
  font-family: 'Montserrat-black', sans-serif;
  color: #000000;
  font-weight: bold;
}

.it{
  text-align: center;

}


 
.counter-5 {
  background-color:#ffffff;
  border-radius: 5px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-right: 6rem;
  margin-left: 14px;
  
 
  
}
@media only screen and (min-width: 600px) {
  .serve {
    margin-left: 90px;
  }
}


.counter-6 {
  background-color:#ffffff;
  border-radius: 5px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-right: 12rem;
  margin-left: -90px;
}

  .counter-7 {
    background-color:#ffffff;
    border-radius: 5px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-right: 3rem;
    margin-left: 50px;

  }
    .counter-8 {
      background-color:#ffffff;
      border-radius: 5px;
      padding-top: 40px;
      padding-bottom: 40px;
      margin-right: 9rem;
      margin-left: -40px;
    }




.service{
  color: #ffffff;
  position: absolute;
  right: 7rem;
  top: 56rem;

}



// Our Team

.text-team{
  padding-top: 40px;
}

* {box-sizing: border-box}

/* Container needed to position the overlay. Adjust the width as needed */
.contain {
  position: relative;
  
}

/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 15px;
  padding: 5px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.contain:hover .overlay {
  opacity: 1.5;
}







// testamonial

